# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Eclipse files
.settings/
.project
.classpath

# IntelliJ IDEA files
.idea/

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml

# Maven target directory
target/

# Gradle files
build/
.gradle/
bin/

# OS-specific files
.DS_Store
Thumbs.db
